<% layout('layout') -%>
    <% block('title', 'Настройки Календаря' ); -%>

        <div class="container my-4">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="card shadow-lg mx-auto rounded">
                        <div class="card-body">
                            <h2 class="card-title text-center mb-3">Настройки календаря</h2>
                            <% if (success) { %>
                                <div class="alert alert-success text-center" role="alert">
                                    Настройки успешно сохранены!
                                </div>
                                <% } %>
                                    <form action="/calendar/settings/" method="post">
                                        <input type="hidden" id="user_id" name="user_id" value="<%= user_id %>">
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" type="checkbox" id="is_notification"
                                                name="is_notification" value="1" <%=settings.is_notification ? 'checked'
                                                : '' %>>
                                            <label class="form-check-label" for="is_notification">Включить
                                                уведомления</label>
                                        </div>
                                        <div class="mb-3">
                                            <label for="notification_interval" class="form-label">Уведомлять
                                                меня:</label>
                                            <select class="form-select" id="notification_interval"
                                                name="notification_interval">
                                                <option value="10" <%=settings.notification_interval===10 ? 'selected'
                                                    : '' %>
                                                    >За 10 минут до начала события</option>
                                                <option value="5" <%=settings.notification_interval===5 ? 'selected'
                                                    : '' %>>За
                                                    5 минут до начала события</option>
                                                <option value="1" <%=settings.notification_interval===1 ? 'selected'
                                                    : '' %>>За
                                                    1 минуту до начала события</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="authuser" class="form-label">Выберите аккаунт:</label>
                                            <select class="form-select" id="authuser" name="authuser">
                                                <option value="0" <%=settings.authuser===0 ? 'selected' : '' %>>1
                                                    пользователь
                                                </option>
                                                <option value="1" <%=settings.authuser===1 ? 'selected' : '' %>>2
                                                    пользователь
                                                </option>
                                                <option value="2" <%=settings.authuser===2 ? 'selected' : '' %>>3
                                                    пользователь
                                                </option>
                                            </select>
                                        </div>

                                        <div class="mb-3">
                                            <button class="btn btn-link w-100 text-start" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#experimentalFeatures"
                                                aria-expanded="false" aria-controls="experimentalFeatures">
                                                Экспериментальные функции
                                            </button>
                                            <div class="collapse" id="experimentalFeatures">
                                                <div class="card card-body">
                                                    <h6>Смена статуса в Mattermost</h6>
                                                    <div class="mb-3">
                                                        <label for="mattermost_token" class="form-label">Токен</label>
                                                        <input type="text" class="form-control" id="mattermost_token"
                                                            value="<%= settings.mattermost_token || ''%>"
                                                            name="mattermost_token">
                                                        <div class="form-text">
                                                            <a href="#" data-bs-toggle="modal"
                                                                data-bs-target="#tokenInfoModal">Как получить токен?</a>
                                                        </div>
                                                    </div>
                                                    <div class="form-check mb-3">
                                                        <input class="form-check-input" type="checkbox" id="dnd_mode"
                                                            name="dnd_mode" value="1" <%=settings.dnd_mode ? 'checked'
                                                            : '' %>>
                                                        <label class="form-check-label" for="dnd_mode">Режим не
                                                            беспокоить</label>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="event_summary" class="form-label">Текст
                                                            статуса</label>
                                                        <input type="text" class="form-control" id="event_summary"
                                                            value="<%= settings.event_summary || '' %>"
                                                            placeholder="По умолчанию: Название мероприятия"
                                                            name="event_summary">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary w-100">Сохранить</button>
                                    </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="tokenInfoModal" tabindex="-1" aria-labelledby="tokenInfoModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="tokenInfoModalLabel">Информация о получении токена</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Чтобы получить токен для Mattermost, выполните следующие шаги:</p>
                        <ol>
                            <li>Откройте браузер и войдите на сервер Mattermost.</li>
                            <li>Откройте инструменты разработчика, нажав F12.</li>
                            <li>Перейдите во вкладку "Application" в верхней части панели инструментов разработчика.
                            </li>
                            <li>В левой панели выберите "Cookies" и найдите название вашего сервера в списке.</li>
                            <li>В списке cookies найдите "MMAUTHTOKEN" и скопируйте его значение.</li>
                        </ol>
                        <div class="alert alert-warning" role="alert">
                            Важно: Передача токена третьим лицам может привести к нежелательным последствиям для
                            безопасности. Используйте эту функцию на свой страх и риск.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>


        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var myCollapse = document.getElementById('experimentalFeatures')
                var bsCollapse = new bootstrap.Collapse(myCollapse, {
                    toggle: false
                });
            });
        </script>